In [1]:
import pandas as pd
import numpy as np

In [2]:
# import urllib library
from urllib.request import urlopen
  
# import json
import json
# store the URL in url as 
# parameter for urlopen
url = "https://classes.cornell.edu/api/2.0/search/classes.json?roster=SP22&subject=CS" # get SP 22 CS classes
  
# store the response of URL
response = urlopen(url)
  
# storing the JSON response 
# from url in data
data_json = json.loads(response.read())

In [3]:
classes = data_json['data']['classes']

In [4]:
# CS 1110, Bracy, start time, end time, location, description, prereqs/coreqs, semester offered

for subject in ["CS", "INFO", "ECE"]: #, "ECON"]"ENGL", "PHIL"]:
    url = f"https://classes.cornell.edu/api/2.0/search/classes.json?roster=SP22&subject={subject}"
    response = urlopen(url)
  
    # storing the JSON response 
    # from url in data
    data_json = json.loads(response.read())
    
    classes = data_json['data']['classes']
    for class_ in classes:
        if (int(class_['catalogNbr'])) > 5900:
            continue
        #print(class_['subject'] + class_['catalogNbr'] + class_['titleLong'])
        #print(class_)
        obj = class_['enrollGroups'][0]['classSections'][0]['meetings'][0]['instructors'][0]
        #print(obj)
        #print(obj['firstName'] + ' ' + obj['middleName'] + ' ' + obj['lastName'])

In [5]:
# CS 1110, Bracy, start time, end time, location, description, prereqs/coreqs, semester offered
df = []

for subject in ["CS", "INFO", "ECE"]: #, "ECON"]"ENGL", "PHIL"]:
    url = f"https://classes.cornell.edu/api/2.0/search/classes.json?roster=SP22&subject={subject}"
    response = urlopen(url)
  
    # storing the JSON response 
    # from url in data
    data_json = json.loads(response.read())
    
    classes = data_json['data']['classes']

    for class_ in classes:
        #print(class_)
        if (int(class_['catalogNbr'])) > 5900:
            continue
        #print(class_)
        obj = class_['enrollGroups'][0]['classSections'][0]['meetings'][0]

        obj2 = obj['instructors'][0]
        #print(obj)

        startTime = obj['timeStart']
        endTime = obj['timeEnd']
        location = obj['facilityDescr']
        x = [class_['subject'] , class_['catalogNbr'] , class_['titleLong'], obj2['firstName'] + ' ' + obj2['middleName'] + ' ' + obj2['lastName'], startTime, endTime, location, class_['description'], class_['catalogPrereqCoreq'], class_['catalogWhenOffered']]
        df.append(x)

In [6]:
df1 = pd.DataFrame(np.array(df))
df1

,0,1,2,3,4,5,6,7,8,9
0,CS,1110,Introduction to Computing Using Python,Anne Bracy,09:05AM,09:55AM,Bailey Hall 101,Programming and problem solving using Python. ...,,"Fall, Spring, Summer."
1,CS,1112,Introduction to Computing Using MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Hollister Hall B14,Programming and problem solving using MATLAB. ...,"Corequisite: MATH 1110, MATH 1910, or equivalent.","Fall, Spring."
2,CS,1132,Short Course in MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Phillips Hall 219,Introduction to the MATLAB programming languag...,,"Fall, Spring."
3,CS,1133,Short Course in Python,Craig C. Frey,12:25PM,01:15PM,Upson Hall 142,Introduction to the Python programming languag...,,"Fall, Spring."
4,CS,1300,Introductory Design and Programming for the Web,Royal Westwater,11:25AM,12:40PM,Olin Hall 165,The World Wide Web is both a technology and a ...,,"Fall, Spring."
...,...,...,...,...,...,...,...,...,...,...
165,ECE,5772,Autonomous Mobile Robots,Hadas Kress-Gazit,09:40AM,10:55AM,Hollister Hall 110,Creating robots capable of performing complex ...,,Spring.
166,ECE,5780,Computer Analysis of Biomed Images,Anthony P. Reeves,09:40AM,10:55AM,Phillips Hall 307,Powerful imaging modalities with attending com...,Prerequisite: ECE 5470Â or equivalent.,Spring.
167,ECE,5790,Advanced High-Speed and RF Integrated Circuits,Alyosha Christopher Molnar,11:25AM,12:40PM,Phillips Hall 403,Principles of analog integrated circuit design...,Prerequisite: ECE 4530.,Spring.
168,ECE,5840,Introduction to Controlled Fusion: Principles ...,David A. Hammer,11:20AM,12:10PM,Phillips Hall 407,Introduction to the physical principles and va...,"Prerequisite: one of the following: PHYS 1112,...",Spring.
169,ECE,5880,Energy Seminar II,C. Lindsay Anderson,12:25PM,01:15PM,Kimball Hall B11,"Energy resources, their conversion to electric...",,Spring.

In [24]:
df1 = df1.rename(columns={0:"Dept", 1:"Number", 2:"Course_Name", 3:"Professor", 4:"Start_Time", 5:"End_Time", 6:"Location",7:"Description",8:"Pre/coreqs",9:"Offered"})

In [14]:
median_grades = pd.read_csv("Cornell_Median_Grades.csv")

In [31]:
median_grades = median_grades[['Dept + Number', 'Median Grade']]
median_grades

                       Dept + Number Median Grade
0    SEARCH BEFORE ADDING YOUR CLASS          NaN
1                           AAS 2130            A
2                           AAS 2130            A
3                           AAS 2130           B+
4                           AEM 2010           A-
..                               ...          ...
630                        VIEN 1104            A
631                              NaN            A
632                              NaN            B
633                              NaN           B+
634                              NaN           B+

[635 rows x 2 columns]

In [29]:
df1["Dept + Number"] = df1["Dept"] + ' ' + df1["Number"]

In [49]:
df2 = df1.merge(median_grades, on='Dept + Number', how="outer")

In [53]:
df2.dropna(subset=['Dept'])

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Median,Median Grade
0,CS,1110,Introduction to Computing Using Python,Anne Bracy,09:05AM,09:55AM,Bailey Hall 101,Programming and problem solving using Python. ...,,"Fall, Spring, Summer.",CS 1110,0.0,B+
1,CS,1112,Introduction to Computing Using MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Hollister Hall B14,Programming and problem solving using MATLAB. ...,"Corequisite: MATH 1110, MATH 1910, or equivalent.","Fall, Spring.",CS 1112,0.0,B
2,CS,1132,Short Course in MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Phillips Hall 219,Introduction to the MATLAB programming languag...,,"Fall, Spring.",CS 1132,0.0,NaN
3,CS,1133,Short Course in Python,Craig C. Frey,12:25PM,01:15PM,Upson Hall 142,Introduction to the Python programming languag...,,"Fall, Spring.",CS 1133,0.0,NaN
4,CS,1300,Introductory Design and Programming for the Web,Royal Westwater,11:25AM,12:40PM,Olin Hall 165,The World Wide Web is both a technology and a ...,,"Fall, Spring.",CS 1300,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,INFO,5450,Computer-Mediated Communication,Susan R. Fussell,02:45PM,04:00PM,Upson Hall 142,"For description, seeÂ COMM 4450.",Prerequisite: COMM 2450/INFO 2450Â or permissio...,Spring.,INFO 5450,0.0,NaN
177,INFO,5455,"Smart Cities: Requirements, Ambitions, and Lim...",Anthony Michael Townsend,11:25AM,12:40PM,Bloomberg Center 81,The smart cities movement was born during the ...,,Spring.,INFO 5455,0.0,NaN
178,INFO,5500,Health Tech Clinical Practicum,Tanzeem K. Choudhury,,,None,This course is designed to give students hands...,,Spring.,INFO 5500,0.0,NaN
179,INFO,5800,Behavioral Science Interventions,Rene Kizilcec,10:10AM,11:00AM,Comstock Hall-Academic II B106,"""There is nothing as practical as a good theor...",Prerequisite: COMM 2760Â or INFO 2450Â or PSYCH ...,Spring.,INFO 5800,0.0,NaN
180,INFO,5900,MPS Project,Sharlane S. Cleare,05:00PM,06:00PM,Upson Hall 142,Independent research for Master of Professiona...,,"Fall, Spring.",INFO 5900,0.0,NaN

In [60]:
df2

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Median,Median Grade
0,CS,1110,Introduction to Computing Using Python,Anne Bracy,09:05AM,09:55AM,Bailey Hall 101,Programming and problem solving using Python. ...,,"Fall, Spring, Summer.",CS 1110,0.0,B+
1,CS,1112,Introduction to Computing Using MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Hollister Hall B14,Programming and problem solving using MATLAB. ...,"Corequisite: MATH 1110, MATH 1910, or equivalent.","Fall, Spring.",CS 1112,0.0,B
2,CS,1132,Short Course in MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Phillips Hall 219,Introduction to the MATLAB programming languag...,,"Fall, Spring.",CS 1132,0.0,NaN
3,CS,1133,Short Course in Python,Craig C. Frey,12:25PM,01:15PM,Upson Hall 142,Introduction to the Python programming languag...,,"Fall, Spring.",CS 1133,0.0,NaN
4,CS,1300,Introductory Design and Programming for the Web,Royal Westwater,11:25AM,12:40PM,Olin Hall 165,The World Wide Web is both a technology and a ...,,"Fall, Spring.",CS 1300,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VIEN 1104,NaN,A
772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B+
775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B+

In [59]:
df2.dropna(subset=['Dept'])

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Median,Median Grade
0,CS,1110,Introduction to Computing Using Python,Anne Bracy,09:05AM,09:55AM,Bailey Hall 101,Programming and problem solving using Python. ...,,"Fall, Spring, Summer.",CS 1110,0.0,B+
1,CS,1112,Introduction to Computing Using MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Hollister Hall B14,Programming and problem solving using MATLAB. ...,"Corequisite: MATH 1110, MATH 1910, or equivalent.","Fall, Spring.",CS 1112,0.0,B
2,CS,1132,Short Course in MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Phillips Hall 219,Introduction to the MATLAB programming languag...,,"Fall, Spring.",CS 1132,0.0,NaN
3,CS,1133,Short Course in Python,Craig C. Frey,12:25PM,01:15PM,Upson Hall 142,Introduction to the Python programming languag...,,"Fall, Spring.",CS 1133,0.0,NaN
4,CS,1300,Introductory Design and Programming for the Web,Royal Westwater,11:25AM,12:40PM,Olin Hall 165,The World Wide Web is both a technology and a ...,,"Fall, Spring.",CS 1300,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,INFO,5450,Computer-Mediated Communication,Susan R. Fussell,02:45PM,04:00PM,Upson Hall 142,"For description, seeÂ COMM 4450.",Prerequisite: COMM 2450/INFO 2450Â or permissio...,Spring.,INFO 5450,0.0,NaN
177,INFO,5455,"Smart Cities: Requirements, Ambitions, and Lim...",Anthony Michael Townsend,11:25AM,12:40PM,Bloomberg Center 81,The smart cities movement was born during the ...,,Spring.,INFO 5455,0.0,NaN
178,INFO,5500,Health Tech Clinical Practicum,Tanzeem K. Choudhury,,,None,This course is designed to give students hands...,,Spring.,INFO 5500,0.0,NaN
179,INFO,5800,Behavioral Science Interventions,Rene Kizilcec,10:10AM,11:00AM,Comstock Hall-Academic II B106,"""There is nothing as practical as a good theor...",Prerequisite: COMM 2760Â or INFO 2450Â or PSYCH ...,Spring.,INFO 5800,0.0,NaN
180,INFO,5900,MPS Project,Sharlane S. Cleare,05:00PM,06:00PM,Upson Hall 142,Independent research for Master of Professiona...,,"Fall, Spring.",INFO 5900,0.0,NaN

In [58]:
median_grades

    Dept + Number Median Grade
1        AAS 2130            A
2        AAS 2130            A
3        AAS 2130           B+
4        AEM 2010           A-
5        AEM 2100            A
..            ...          ...
630     VIEN 1104            A
631           NaN            A
632           NaN            B
633           NaN           B+
634           NaN           B+

[635 rows x 2 columns]