In [2]:
import requests
import pandas as pd

In [3]:
df = pd.read_csv('Full_Data_FA22.csv')
df.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor_x,Start_Time,End_Time,Location,Description,Pre/coreqs,...,# of Students,Notes,Semester,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again
0,5,AAS,2130.0,Introduction to Asian American History,Derek Chang,11:25AM,12:40PM,To Be Assigned,"An introductory history of Chinese, Japanese, ...",NaN,...,52.0,"crosslisted with AMST 2640, HIST 2640",0.0,[],333013.0,Derek Chang,25.0,4.0,2.0,78.5714
1,2131,CS,4701.0,Practicum in Artificial Intelligence,Bart Selman,NaN,NaN,NaN,Artificial Intelligence project class. Possibl...,"Prerequisite: CS 4670, CS 4700, CS 4740, or CS...",...,125.0,NaN,0.0,[],154695.0,Bart Selman,17.0,2.1,2.5,0.0000
2,2140,CS,4780.0,Introduction to Machine Learning,Anil Damle,09:40AM,10:55AM,To Be Assigned,The course provides an introduction to machine...,Prerequisite: probability theory (e.g. BTRY 30...,...,309.0,NaN,0.0,[],2473568.0,Anil Damle,4.0,5.0,3.5,100.0000
3,2244,DEA,4500.0,Policy Meets Design: High-Impact Facilities of...,Rana Zadeh,02:45PM,04:00PM,To Be Assigned,Active participation from local and global lea...,NaN,...,16.0,NaN,0.0,[],NaN,NaN,NaN,NaN,NaN,NaN
4,2268,EAS,1600.0,Environmental Physics,Susan Riha,NaN,NaN,To Be Assigned,"Fundamentals of radiation, thermodynamics, and...",Prerequisite: mathematics through high school ...,...,35.0,NaN,0.0,[],2432925.0,Susan Riha,0.0,0.0,0.0,-1.0000

In [4]:
data = df.to_numpy()

url = 'https://www.cureviews.org/v2/getCourseByInfo/'

difficulty = []
ratings = []
workloads = []

for val in data:

    try:
        sub = val[1].lower()
        num = int(val[2])
        myobj = {'number': num, 'subject': sub}

        res = requests.post(url, json = myobj).json()['result']

        diff = res['classDifficulty']
        rating = res['classRating']
        workload = res['classWorkload']
        
    except:
        diff = None
        rating = None
        workload = None
    
    difficulty += [diff]
    ratings += [rating]
    workloads += [workload]

In [5]:
len(workloads)

4163

In [6]:
df.shape

(4163, 26)

In [7]:
df['CU_Reviews_Difficulty'] = difficulty
df['CU_Reviews_Rating'] = ratings
df['CU_Reviews_Workload'] = workloads

In [8]:
df.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor_x,Start_Time,End_Time,Location,Description,Pre/coreqs,...,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,CU_Reviews_Difficulty,CU_Reviews_Rating,CU_Reviews_Workload
0,5,AAS,2130.0,Introduction to Asian American History,Derek Chang,11:25AM,12:40PM,To Be Assigned,"An introductory history of Chinese, Japanese, ...",NaN,...,[],333013.0,Derek Chang,25.0,4.0,2.0,78.5714,1.666667,4.000000,2.333333
1,2131,CS,4701.0,Practicum in Artificial Intelligence,Bart Selman,NaN,NaN,NaN,Artificial Intelligence project class. Possibl...,"Prerequisite: CS 4670, CS 4700, CS 4740, or CS...",...,[],154695.0,Bart Selman,17.0,2.1,2.5,0.0000,1.000000,2.666667,1.000000
2,2140,CS,4780.0,Introduction to Machine Learning,Anil Damle,09:40AM,10:55AM,To Be Assigned,The course provides an introduction to machine...,Prerequisite: probability theory (e.g. BTRY 30...,...,[],2473568.0,Anil Damle,4.0,5.0,3.5,100.0000,3.434783,4.000000,3.263158
3,2244,DEA,4500.0,Policy Meets Design: High-Impact Facilities of...,Rana Zadeh,02:45PM,04:00PM,To Be Assigned,Active participation from local and global lea...,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2268,EAS,1600.0,Environmental Physics,Susan Riha,NaN,NaN,To Be Assigned,"Fundamentals of radiation, thermodynamics, and...",Prerequisite: mathematics through high school ...,...,[],2432925.0,Susan Riha,0.0,0.0,0.0,-1.0000,3.666667,2.600000,3.400000

In [9]:
df.to_csv('FullerData_CUReviews_FA22.csv', index=None)