In [1]:
import requests
import pandas as pd

In [2]:
df = pd.read_csv('Full_Data_SP23.csv')
df.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,...,notes,SemesterN,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,Semester
0,0,AAS,1100.0,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AAS,4950.0,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AAS,7200.0,Directed Graduate Individual Study,Viranjini Munasinghe,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ANTHR,6025.0,Proseminar in Anthropology,Viranjini Munasinghe,04:30PM,07:30PM,To Be Assigned,This course explores advanced topics in anthro...,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AAS,2620.0,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data = df.to_numpy()

url = 'https://www.cureviews.org/v2/getCourseByInfo/'

difficulty = []
ratings = []
workloads = []

for val in data:

    try:
        sub = val[1].lower()
        num = int(val[2])
        myobj = {'number': num, 'subject': sub}

        res = requests.post(url, json = myobj).json()['result']

        diff = res['classDifficulty']
        rating = res['classRating']
        workload = res['classWorkload']
        
    except:
        diff = None
        rating = None
        workload = None
    
    difficulty += [diff]
    ratings += [rating]
    workloads += [workload]

In [11]:
len(workloads)

4520

In [6]:
df.shape

(4520, 27)

In [7]:
df['CU_Reviews_Difficulty'] = difficulty
df['CU_Reviews_Rating'] = ratings
df['CU_Reviews_Workload'] = workloads

In [8]:
df.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,...,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,Semester,CU_Reviews_Difficulty,CU_Reviews_Rating,CU_Reviews_Workload
0,0,AAS,1100.0,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333,3.0,3.333333
1,1,AAS,4950.0,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AAS,7200.0,Directed Graduate Individual Study,Viranjini Munasinghe,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ANTHR,6025.0,Proseminar in Anthropology,Viranjini Munasinghe,04:30PM,07:30PM,To Be Assigned,This course explores advanced topics in anthro...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AAS,2620.0,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,4.0,3.000000

In [9]:
df.to_csv('FullerData_CUReviews_SP23.csv', index=None)