In [1]:
import pandas as pd
import numpy as np

In [29]:
class_roster = pd.read_csv("Classes_With_Medians_SP23.csv")
rmp_data = pd.read_csv("RMP/RMP.csv")
medians= pd.read_csv("Cornell_Median_Grades.csv", names=["name","prof","MEDIAN","SEM","SIZE","NOTES"], index_col = False)

In [30]:
medians.head()

       name     prof MEDIAN   SEM SIZE                                  NOTES
0  AAS 2130    Chang      A  FA21   52  crosslisted with AMST 2640, HIST 2640
1  AAS 2130  Moghimi      A  FA21  NaN                                    NaN
2  AEM 2010  Moghimi     A+  SP22  145                                    NaN
3  AEM 2100   Van Es      A  FA21  252                                    NaN
4  AEM 2210    Riley      A  SP21  NaN                                    NaN

In [26]:
class_roster.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Class_Name,professor,median,semester,size,notes,SemesterN
0,0,AAS,1100,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,Spring.,AAS 1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AAS,2620,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,Spring.,AAS 2620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AAS,3312,Afro-Asia: Futurism and Feminism,Tao Goffe,10:10AM,11:25AM,To Be Assigned,This course explores cultural representations ...,NaN,Spring.,AAS 3312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,AAS,3378,Korean American Literature,Ivanna Yi,11:25AM,12:40PM,To Be Assigned,The rapidly growing literature of the Korean d...,NaN,Spring.,AAS 3378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,AAS,4950,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,"Fall, Spring.",AAS 4950,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
semesterdict = {"FA22":-2,"SP22":-1,"FA21":0, 'SP21':1, 'FA20':2, 'SP20':3, 'FA19':4,'SP19':5,'FA18':6,'SP18':7,'FA17':8,'SP17':9,'FA16':10}

In [36]:
#Data cleaning for medians
medians['Semester2'] = medians['SEM']
medians = medians.replace({"Semester2": semesterdict})
medians = medians.sort_values(by="Semester2")
medians = medians.drop_duplicates(subset="name", keep="first")
#medians.to_csv("Cleaned_Medians.csv")

In [37]:
class_roster=class_roster.drop(columns="Unnamed: 0")

In [38]:
class_roster

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Class_Name,professor,median,semester,size,notes,SemesterN
0,AAS,1100,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,Spring.,AAS 1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAS,2620,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,Spring.,AAS 2620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAS,3312,Afro-Asia: Futurism and Feminism,Tao Goffe,10:10AM,11:25AM,To Be Assigned,This course explores cultural representations ...,NaN,Spring.,AAS 3312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAS,3378,Korean American Literature,Ivanna Yi,11:25AM,12:40PM,To Be Assigned,The rapidly growing literature of the Korean d...,NaN,Spring.,AAS 3378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAS,4950,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,"Fall, Spring.",AAS 4950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,YORUB,2111,Intermediate Yoruba II,Adeolu Ademoyo,09:05AM,09:55AM,To Be Assigned,Intermediate Yoruba II is a follow-up to Inter...,Prerequisite: YORUB 1108 and YORUB 1109.,Spring.,YORUB 2111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4515,YORUB,3111,Advanced Yoruba II,Adeolu Ademoyo,07:30PM,09:25PM,To Be Assigned,This course will help students expand their un...,Prerequisite: YORUB 3110.,Spring.,YORUB 3111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4516,ZULU,1116,Elementary Zulu II,Angelika Kraemer,11:35AM,12:25PM,To Be Assigned,Development of communication skills through di...,NaN,Spring.,ZULU 1116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,ZULU,2117,Intermediate Zulu II,Angelika Kraemer,09:25AM,10:12AM,To Be Assigned,Students read longer texts from popular media ...,NaN,Spring.,ZULU 2117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4518,ZULU,3114,Advanced Zulu II,Angelika Kraemer,02:30PM,03:45PM,To Be Assigned,"Readings may include short stories, a novel, p...",NaN,Spring.,ZULU 3114,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
class_roster[class_roster['Course_Name']=='Problems in Byzantine Art']

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,Dept + Number,Class_Name,professor,median,semester,size,notes,SemesterN
458,ARKEO,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,ARKEO 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,ARKEO,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,ARKEO 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,ARTH,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,ARTH 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,ARTH,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,ARTH 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,CLASS,4752,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,CLASS 4752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,CLASS,7752,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,CLASS 7752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2986,MEDVL,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,MEDVL 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2995,MEDVL,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,MEDVL 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3262,NES,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,NES 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3274,NES,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,NES 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,RELST,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,RELST 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4009,RELST,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,RELST 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4366,VISST,4351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Topic Spring 23: Portraiture.,NaN,Spring.,VISST 4351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4372,VISST,6351,Problems in Byzantine Art,Benjamin Anderson,09:05AM,11:00AM,To Be Assigned,Seminar topics rotate each semester. Topic for...,NaN,Spring.,VISST 6351,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
courses = []
for row in class_roster.to_numpy():
    course = row[0]+" " + str(row[1])
    courses.append(course)

In [41]:
pre_coreqs = []
for row in class_roster.to_numpy():
    preco = row[-6] #normally  -6, if running again then -7
    new_list = []
    #print(type(preco))
    if type(preco) == str or not (np.isnan(preco)):
        
        for course in courses:
            if course in preco:
                new_list.append(course)
    else:
        new_list.append(np.nan)
    pre_coreqs.append(new_list)
#pre_coreqs
class_roster["Pre/Coreqs_Clean"] = pre_coreqs

In [44]:
full_data = class_roster.merge(rmp_data, left_on='Professor', right_on ="Name", how="outer")

In [55]:
full_data

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,...,notes,SemesterN,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,Semester
0,AAS,1100.0,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAS,4950.0,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,"Fall, Spring.",...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAS,7200.0,Directed Graduate Individual Study,Viranjini Munasinghe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANTHR,6025.0,Proseminar in Anthropology,Viranjini Munasinghe,04:30PM,07:30PM,To Be Assigned,This course explores advanced topics in anthro...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAS,2620.0,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,574143.0,Robert Young,4.0,3.6,5.0,-1.0,NaN
6052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2472386.0,Patricia Young,3.0,4.0,3.0,100.0,NaN
6053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,714047.0,Alan Young-Bryant,4.0,4.4,3.3,-1.0,NaN
6054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1659197.0,Haiyuan YU,0.0,0.0,0.0,-1.0,NaN
6055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,187591.0,Nicholas Zabaras,52.0,4.0,4.1,-1.0,NaN

In [56]:
#full_data['Semester'] = full_data['SemesterN']
#full_data = full_data.replace({"Semester": semesterdict})
#full_data = full_data.sort_values(by="Semester")
full_data = full_data.drop_duplicates(subset="Dept + Number", keep="first")
print(full_data.shape)
#full_data = full_data.drop_duplicates(subset="Course_Name", keep="first")

(4520, 26)

In [57]:
full_data

,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,...,notes,SemesterN,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,Semester
0,AAS,1100.0,Introduction to Asian American Studies,Viranjini Munasinghe,02:55PM,04:10PM,To Be Assigned,This interdisciplinary course offers an introd...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAS,4950.0,Independent Study,Viranjini Munasinghe,NaN,NaN,NaN,Independent reading course in topics not cover...,NaN,"Fall, Spring.",...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAS,7200.0,Directed Graduate Individual Study,Viranjini Munasinghe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANTHR,6025.0,Proseminar in Anthropology,Viranjini Munasinghe,04:30PM,07:30PM,To Be Assigned,This course explores advanced topics in anthro...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAS,2620.0,Introduction to Asian American Literature,Juliana Hu Pegues,11:25AM,12:40PM,To Be Assigned,This course will introduce both a variety of w...,NaN,Spring.,...,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,WRIT,1450.0,FWS: Communicating Big Ideas: Climate Change R...,Scott Sorrell,01:00PM,02:15PM,To Be Assigned,NaN,NaN,NaN,...,NaN,NaN,[nan],2432924.0,Scott Sorrell,0.0,0.0,0.0,-1.0,NaN
4516,YORUB,1109.0,Introduction to Yoruba II,Adeolu Ademoyo,10:10AM,11:00AM,To Be Assigned,A two-semester beginner's course in Yoruba Lan...,NaN,Spring.,...,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0,NaN
4517,YORUB,2111.0,Intermediate Yoruba II,Adeolu Ademoyo,09:05AM,09:55AM,To Be Assigned,Intermediate Yoruba II is a follow-up to Inter...,Prerequisite: YORUB 1108 and YORUB 1109.,Spring.,...,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0,NaN
4518,YORUB,3111.0,Advanced Yoruba II,Adeolu Ademoyo,07:30PM,09:25PM,To Be Assigned,This course will help students expand their un...,Prerequisite: YORUB 3110.,Spring.,...,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0,NaN
4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2510713.0,Mustafa Abadan,0.0,0.0,0.0,-1.0,NaN

In [14]:
#full_data=full_data.drop(columns=["Unnamed: 0"])

In [17]:
full_data

,Dept,Number,Course_Name,Professor_x,Start_Time,End_Time,Location,Description,Pre/coreqs,Offered,...,# of Students,Notes,Semester,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again
5,AAS,2130.0,Introduction to Asian American History,Derek Chang,11:25AM,12:40PM,To Be Assigned,"An introductory history of Chinese, Japanese, ...",NaN,Fall.,...,52.0,"crosslisted with AMST 2640, HIST 2640",0.0,[],333013.0,Derek Chang,25.0,4.0,2.0,78.5714
2131,CS,4701.0,Practicum in Artificial Intelligence,Bart Selman,NaN,NaN,NaN,Artificial Intelligence project class. Possibl...,"Prerequisite: CS 4670, CS 4700, CS 4740, or CS...","Fall, Spring.",...,125.0,NaN,0.0,[],154695.0,Bart Selman,17.0,2.1,2.5,0.0000
2140,CS,4780.0,Introduction to Machine Learning,Anil Damle,09:40AM,10:55AM,To Be Assigned,The course provides an introduction to machine...,Prerequisite: probability theory (e.g. BTRY 30...,"Fall, Spring.",...,309.0,NaN,0.0,[],2473568.0,Anil Damle,4.0,5.0,3.5,100.0000
2244,DEA,4500.0,Policy Meets Design: High-Impact Facilities of...,Rana Zadeh,02:45PM,04:00PM,To Be Assigned,Active participation from local and global lea...,NaN,Fall.,...,16.0,NaN,0.0,[],NaN,NaN,NaN,NaN,NaN,NaN
2268,EAS,1600.0,Environmental Physics,Susan Riha,NaN,NaN,To Be Assigned,"Fundamentals of radiation, thermodynamics, and...",Prerequisite: mathematics through high school ...,"Fall, Spring.",...,35.0,NaN,0.0,[],2432925.0,Susan Riha,0.0,0.0,0.0,-1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4158,WRIT,7101.0,Writing in the Majors Seminar,Elliot Shapiro,07:00PM,09:15PM,To Be Assigned,Teaching assistants assigned to Writing in the...,NaN,"Fall, Spring.",...,NaN,NaN,NaN,[nan],NaN,NaN,NaN,NaN,NaN,NaN
4159,YORUB,1108.0,Introduction to Yoruba I,Adeolu Ademoyo,10:10AM,11:00AM,To Be Assigned,A two-semester beginner's course in Yoruba Lan...,NaN,Fall.,...,NaN,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000
4160,YORUB,2110.0,Intermediate Yoruba I,Adeolu Ademoyo,09:05AM,09:55AM,To Be Assigned,The intermediate course extends the developmen...,Prerequisite: YORUB 1109.,Fall.,...,NaN,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000
4161,YORUB,3110.0,Advanced Yoruba I,Adeolu Ademoyo,07:30PM,09:25PM,To Be Assigned,This course will help students expand their un...,Prerequisite: YORUB 2111.,Fall.,...,NaN,NaN,NaN,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000
4162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2510713.0,Mustafa Abadan,0.0,0.0,0.0,-1.0000

In [59]:
full_data.to_csv("Full_Data_SP23.csv")