In [147]:
import pandas as pd
import numpy as np

In [148]:
class_roster = pd.read_csv("Classes_With_Medians.csv")
rmp_data = pd.read_csv("RMP/RMP.csv")
#medians= pd.read_csv("Cornell_Median_Grades.csv")

In [149]:
semesterdict = {"FA21":0, 'SP21':1, 'FA20':2, 'SP20':3, 'FA19':4,'SP19':5,'FA18':6,'SP18':7,'FA17':8,'SP17':9,'FA16':10}

Data cleaning for medians
medians['Semester'] = medians['Semester (Ex: SP21)']
medians = medians.replace({"Semester": semesterdict})
medians = medians.sort_values(by="Semester")
medians = medians.drop_duplicates(subset="Dept + Number", keep="first")
medians.to_csv("Cleaned_Medians.csv")

In [150]:
courses = []
for row in class_roster.to_numpy():
    course = row[1]+" " + str(row[2])
    courses.append(course)

In [151]:
pre_coreqs = []
for row in class_roster.to_numpy():
    preco = row[-7] #normally negative 6, if running again then -7
    new_list = []
    #print(type(preco))
    if type(preco) == str or not (np.isnan(preco)):
        
        for course in courses:
            if course in preco:
                new_list.append(course)
    else:
        new_list.append(np.nan)
    pre_coreqs.append(new_list)
#pre_coreqs
class_roster["Pre/Coreqs"] = pre_coreqs

In [152]:
full_data = class_roster.merge(rmp_data, left_on='Professor', right_on ="Name", how="outer")

In [155]:
full_data

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,...,Dept + Number,Median Grade,Semester (Ex: SP21),Pre/Coreqs,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again
0,0.0,CS,1110.0,Introduction to Computing Using Python,Anne Bracy,09:05AM,09:55AM,Bailey Hall 101,Programming and problem solving using Python. ...,NaN,...,CS 1110,B+,FA21,[],2109847.0,Anne Bracy,43.0,3.0,4.0,52.5
1,21.0,CS,3410.0,Computer System Organization and Programming,Anne Bracy,11:20AM,12:10PM,Uris Hall G01,"Introduction to computer organization, systems...",Prerequisite: CS 2110 or equivalent programmin...,...,CS 3410,B+,FA20,[],2109847.0,Anne Bracy,43.0,3.0,4.0,52.5
2,22.0,CS,3410.0,Computer System Organization and Programming,Anne Bracy,11:20AM,12:10PM,Uris Hall G01,"Introduction to computer organization, systems...",Prerequisite: CS 2110 or equivalent programmin...,...,CS 3410,B+,SP21,[],2109847.0,Anne Bracy,43.0,3.0,4.0,52.5
3,23.0,CS,3410.0,Computer System Organization and Programming,Anne Bracy,11:20AM,12:10PM,Uris Hall G01,"Introduction to computer organization, systems...",Prerequisite: CS 2110 or equivalent programmin...,...,CS 3410,B+,FA21,[],2109847.0,Anne Bracy,43.0,3.0,4.0,52.5
4,1.0,CS,1112.0,Introduction to Computing Using MATLAB,Kit-Yee Daisy Fan,02:40PM,03:30PM,Hollister Hall B14,Programming and problem solving using MATLAB. ...,"Corequisite: MATH 1110, MATH 1910, or equivalent.",...,CS 1112,B,FA21,[],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1403262.0,Thomas Zittel,1.0,3.0,2.0,-1.0
3007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2384073.0,Sasa Zivkovic,2.0,2.5,4.5,50.0
3008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,951234.0,Jeffrey Zorn,6.0,4.5,3.2,100.0
3009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2090822.0,Brad Zukovic,1.0,4.0,1.0,100.0
3010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2171095.0,David Zywina,11.0,4.6,2.9,100.0

In [156]:
full_data.to_csv("Full_Data.csv")