In [1]:
import pandas as pd
data_sp = pd.read_csv('FullerData_CUReviews.csv')
data_fa = pd.read_csv('FullerData_CUReviews_FA22.csv')

In [22]:
data_sp.columns

Index(['Unnamed: 0', 'Dept', 'Number', 'Course_Name', 'Professor',
       'Start_Time', 'End_Time', 'Location', 'Description', 'Pre/coreqs',
       'Offered', 'Dept + Number', 'Median Grade', 'Semester (Ex: SP21)',
       'Semester', 'Pre/Coreqs_Clean', 'ID', 'Name', 'Number_of_Ratings',
       'Average_Rating', 'Difficulty', 'Take Again', 'CU_Reviews_Difficulty',
       'CU_Reviews_Rating', 'CU_Reviews_Workload'],
      dtype='object')

In [4]:
data_sp.head()

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,...,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,CU_Reviews_Difficulty,CU_Reviews_Rating,CU_Reviews_Workload
0,34,AEM,2010.0,Spreadsheet Modeling for Management and Economics,Reza Moghimi,01:00PM,02:15PM,Malott Hall 406,This course will place a strong emphasis on ap...,NaN,...,[nan],2372836.0,Reza Moghimi,4.0,5.0,2.3,100.0000,1.444444,4.375,1.875000
1,2723,FREN,2090.0,French Intermediate Composition and Conversati...,Flavien Glidja,09:05AM,09:55AM,Uris Hall 369,This intermediate-level course is designed for...,"Prerequisite: FREN 1230, LPF score 56-64, or S...",...,['FREN 1230'],1275803.0,Flavien Glidja,19.0,3.4,3.6,27.2727,2.000000,4.000,2.500000
2,2724,FREN,2095.0,French Intermediate Composition and Conversati...,Claire Menard,10:10AM,11:00AM,Goldwin Smith Hall 156,This advanced-intermediate course is highly re...,"Prerequisite: FREN 2070, FREN 2080, or FREN 20...",...,"['FREN 2080', 'FREN 2090']",NaN,NaN,NaN,NaN,NaN,NaN,3.000000,4.000,NaN
3,1797,PSYCH,3420.0,Human Perception: Application to Computer Grap...,David Field,11:25AM,12:40PM,Malott Hall 253,Our present technology allows us to transmit a...,NaN,...,[nan],539606.0,David Field,8.0,4.2,3.0,100.0000,2.200000,5.000,1.333333
4,1788,PHIL,2310.0,Introduction to Deductive Logic,Harold Hodes,01:30PM,02:20PM,Goldwin Smith Hall 142,"Covers sentential languages, the truth-functio...",NaN,...,[nan],199658.0,Harold Hodes,34.0,2.5,3.9,20.0000,NaN,NaN,NaN

In [10]:
data_sp['CU_Reviews_Difficulty'] = round(data_sp['CU_Reviews_Difficulty'], 2)
data_sp['CU_Reviews_Rating'] = round(data_sp['CU_Reviews_Rating'], 2)
data_sp['CU_Reviews_Workload'] = round(data_sp['CU_Reviews_Workload'], 2)

data_fa['CU_Reviews_Difficulty'] = round(data_fa['CU_Reviews_Difficulty'], 2)
data_fa['CU_Reviews_Rating'] = round(data_fa['CU_Reviews_Rating'], 2)
data_fa['CU_Reviews_Workload'] = round(data_fa['CU_Reviews_Workload'], 2)

In [24]:
new_nums = []
for i in range(len(data_fa['Number'])):
    try: 
        new_nums.append(int(data_fa['Number'].iloc[i]))
    except:
        new_nums.append(data_fa['Number'].iloc[i])
new_nums

[0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0
 4       1600.0
          ...
 4158    7101.0
 4159    1108.0
 4160    2110.0
 4161    3110.0
 4162       NaN
 Name: Number, Length: 4163, dtype: float64,
 0       2130.0
 1       4701.0
 2       4780.0
 3       4500.0

In [9]:
data_sp

,Unnamed: 0,Dept,Number,Course_Name,Professor,Start_Time,End_Time,Location,Description,Pre/coreqs,...,Pre/Coreqs_Clean,ID,Name,Number_of_Ratings,Average_Rating,Difficulty,Take Again,CU_Reviews_Difficulty,CU_Reviews_Rating,CU_Reviews_Workload
0,34,AEM,2010.0,Spreadsheet Modeling for Management and Economics,Reza Moghimi,01:00PM,02:15PM,Malott Hall 406,This course will place a strong emphasis on ap...,NaN,...,[nan],2372836.0,Reza Moghimi,4.0,5.0,2.3,100.0000,1.44,4.38,1.88
1,2723,FREN,2090.0,French Intermediate Composition and Conversati...,Flavien Glidja,09:05AM,09:55AM,Uris Hall 369,This intermediate-level course is designed for...,"Prerequisite: FREN 1230, LPF score 56-64, or S...",...,['FREN 1230'],1275803.0,Flavien Glidja,19.0,3.4,3.6,27.2727,2.00,4.00,2.50
2,2724,FREN,2095.0,French Intermediate Composition and Conversati...,Claire Menard,10:10AM,11:00AM,Goldwin Smith Hall 156,This advanced-intermediate course is highly re...,"Prerequisite: FREN 2070, FREN 2080, or FREN 20...",...,"['FREN 2080', 'FREN 2090']",NaN,NaN,NaN,NaN,NaN,NaN,3.00,4.00,NaN
3,1797,PSYCH,3420.0,Human Perception: Application to Computer Grap...,David Field,11:25AM,12:40PM,Malott Hall 253,Our present technology allows us to transmit a...,NaN,...,[nan],539606.0,David Field,8.0,4.2,3.0,100.0000,2.20,5.00,1.33
4,1788,PHIL,2310.0,Introduction to Deductive Logic,Harold Hodes,01:30PM,02:20PM,Goldwin Smith Hall 142,"Covers sentential languages, the truth-functio...",NaN,...,[nan],199658.0,Harold Hodes,34.0,2.5,3.9,20.0000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4540,4540,WRIT,2101.0,Responding to Writing: Theory and Pedagogy,Kate Navickas,04:30PM,06:00PM,Rockefeller Hall 127,This course introduces students to scholarship...,NaN,...,[nan],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541,4541,YORUB,1109.0,Introduction to Yoruba II,Adeolu Ademoyo,10:10AM,11:00AM,To Be Assigned,A two-semester beginner's course in Yoruba Lan...,NaN,...,[nan],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000,NaN,NaN,NaN
4542,4542,YORUB,2111.0,Intermediate Yoruba II,Adeolu Ademoyo,09:05AM,09:55AM,Stimson Hall G24B,Intermediate Yoruba II is a follow-up to Inter...,Prerequisite: YORUB 1108 and YORUB 1109.,...,['YORUB 1109'],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000,NaN,NaN,NaN
4543,4543,YORUB,3111.0,Advanced Yoruba II,Adeolu Ademoyo,02:45PM,04:00PM,NaN,This course will help students expand their un...,Prerequisite: YORUB 3110.,...,[],1515016.0,Adeolu Ademoyo,5.0,4.1,1.2,-1.0000,NaN,NaN,NaN
4544,4544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2510713.0,Mustafa Abadan,0.0,0.0,0.0,-1.0000,NaN,NaN,NaN